@*
    TODO: add contact form here using Razor View (Empty) template
*@
@{
    // C# code here
}

<!-- TODO: reference the model -->
@model ContactViewModel

<!-- TODO: build summary -->
<h2>Confirmation</h2>
<h3>Below is a summary </h3>
<ul>
    <li>Name: @Model.Name</li>
    <li>Email: @Model.Email</li>
    <li>Phone: @Model.Phone</li>
    <li>Age: @Model.Age</li>
</ul>